<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rota Yönetimi</title>
  <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Yönetici Paneli</h3>
      </div>

      <ul class="list-unstyled components">
          <li>
              <a href="/havalimani">Havalimanı</a>
          </li>
          <li>
              <a href="/havayolu">Havayolu</a>
          </li>
          <li>
              <a href="/rota">Rota</a>
          </li>
          <li>
              <a href="/ucus">Uçuş</a>
          </li>
          <li>
              <a href="/rezervasyon">Rezervasyon</a>
          </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <main id="app">
        <router-view></router-view>
      </main>

    </div>

  </div>

  <template id="rota">
    <div>
      <b>Havayolu: </b>
      <h2>{{ rota.havayolu.adi }}</h2>
      <b>Nereden: </b>
      <div>{{ rota.nereden.adi }}</div>
      <b>Nereye:</b>
      <div>{{ rota.nereye.adi }}</div>
      <br/>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <a>
        <router-link to="/">Geri Dön</router-link>
      </a>
    </div>
  </template>

  <template id="rota-list">
    <div>
      <div class="actions">
        <a class="btn btn-default">
          <router-link :to="{path: '/rota-kaydet'}">
            <span class="glyphicon glyphicon-plus"></span>
            Rota Ekle
          </router-link>
        </a>
      </div>
<!--      <div class="filters row">-->
<!--        <div class="form-group col-sm-3">-->
<!--          <input placeholder="Arama" v-model="aramaAnahtari" class="form-control" id="search-element"-->
<!--                 requred/>-->
<!--        </div>-->
<!--      </div>-->
      <table class="table">
        <thead>
        <tr>
          <th>Havayolu</th>
          <th>Nereden</th>
          <th>Nereye</th>
          <th class="col-sm-2">İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="rota in filtreleRota">
          <td>
            <a>
              <router-link :to="{name: 'rota', params: {rota_id: rota.id}}">{{
                rota.havayolu.adi }}
              </router-link>
            </a>
          </td>
          <td>{{ rota.nereden.adi }}</td>
          <td>{{ rota.nereye.adi }}</td>
          <td>
            <a class="btn btn-warning btn-xs">
              <router-link :to="{name: 'rota-duzenle', params: {rota_id: rota.id}}">
                Düzenle
              </router-link>
            </a>
            <a class="btn btn-danger btn-xs">
              <router-link :to="{name: 'rota-sil', params: {rota_id: rota.id}}">Sil
              </router-link>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </template>


  <template id="rota-kaydet">
    <div>
      <h2>Yeni Rota Ekle</h2>
      <form @submit="kaydetRota">
        <div class="form-group">
          <label>Havayolu</label>
          <select class="form-control" v-model="rota.havayolu">
            <option v-for="havayolu in havayoluListesi" v-bind:value="havayolu">
              {{ havayolu.adi }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Nereden</label>
          <select class="form-control" v-model="rota.nereden">
            <option v-for="havalimani in havalimaniListesi" v-bind:value="havalimani">
              {{ havalimani.adi }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Nereye</label>
          <select class="form-control" v-model="rota.nereye">
            <option v-for="havalimani in havalimaniListesi" v-bind:value="havalimani">
              {{ havalimani.adi }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Mesafe</label>
          <input class="form-control" v-model.number="rota.mesafe" type="number"/>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a class="btn btn-default">
          <router-link to="/">İptal</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="rota-duzenle">
    <div>
      <h2>Düzenle</h2>
      <form @submit="kaydetRota">
        <div class="form-group">
          <label>Havayolu</label>
          <select class="form-control" v-model="rota.havayolu">
            <option v-for="havayolu in havayoluListesi" v-bind:value="havayolu">
              {{ havayolu.adi }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Nereden</label>
          <select class="form-control" v-model="rota.nereden">
            <option v-for="havalimani in havalimaniListesi" v-bind:value="havalimani">
              {{ havalimani.adi }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Nereye</label>
          <select class="form-control" v-model="rota.nereye">
            <option v-for="havalimani in havalimaniListesi" v-bind:value="havalimani">
              {{ havalimani.adi }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Mesafe</label>
          <input class="form-control" v-model.number="rota.mesafe" type="number"/>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a class="btn btn-default">
          <router-link to="/">İptal</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="rota-sil">
    <div>
      <h2>{{ rota.nereden.adi }} - {{ rota.nereye.adi }} rotasını silmek istediğinizden emin misiniz?</h2>
      <form @submit="silRota">
        <p>Bu işlem geri alınamaz</p>
        <button type="submit" class="btn btn-danger">Sil</button>
        <a class="btn btn-default">
          <router-link to="/">İptal</router-link>
        </a>
      </form>
    </div>
  </template>

  <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous"></script>
  <script src="/js/rota.js"></script>

</body>
</html>